@{
    Layout = "_Layout_LoginPage";
}

<section class="loginPage__section">
    <div class="loginPage">
        <form asp-action="Login" asp-controller="Home">
            <div class="loginPage__row">
                @Html.Password("login",null, new {@placeholder = "Wpisz login...", @class = "loginPage__input"})
                @*<input class="loginPage__input" id="loginPageLogin" type="text" placeholder="Wpisz login...">*@
                <label class="loginPage__label" for="loginPageLogin">Login:</label>
            </div>

            <div class="loginPage__row">
                @Html.Password("password",null, new {@placeholder = "Wpisz hasło...", @class = "loginPage__input"})
                @*<input class="loginPage__input" id="loginPagePassword" type="password" placeholder="Wpisz hasło...">*@
                <label class="loginPage__label" for="loginPagePassword">Hasło:</label>
            </div>

            <div class="loginPage__Btns">
                <input type="submit" class="loginPage__loginInBtn" value="Zaloguj się" />
               @* <a class="" href="">Zaloguj się</a>*@
            </div>
        </form>
    </div>
</section>


@{
}
