/*///////////////////////////////////////////////////////////////////
//////////Variables */
:root {
    --color-primary: #e95a11;
    --color-primary-light-1: #eb6b29;
    --color-primary-light-2: #ed7b41;
    --color-primary-dark-1: #d2510f;
    --color-primary-dark-2: #ba480e;
    --color--btns--hover: #f97316;
    --color-secondary: #8a5337;
    --color-secondary-light-1: #96644b;
    --color-secondary-light-2: #a1755f;
    --color-secondary-dark-1: #7c4b32;
    --color-secondary-dark-2: #6e422c;
    --color-tertiary-light: #fff;
    --color-tertiary-dark: #fff;
    --color-grey-light-1: #f1f3f5;
    --color-grey-light-2: #858585;
    --color-grey-light-3: #f5f5f5;
    --color-grey-light-4: #f7f7f7;
    --color-grey-light-5: #f4f4f4;
    --color-grey-dark-1: #756e6b;
    --color-grey-dark-2: #fff;
    --color-grey-dark-3: #fff;
    --color-white: #fff;
    --color-black: #000;
    --color-black-2: #212529;
    --color-orange-active: #fb923c;
}

/*///////////////////////////////////////////////////////////////////
//////////BASE */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-black-2);
    background-color: #393939;
    position: relative;
    min-height: 100vh;
}

.container-1 {
    max-width: 200rem;
    margin: 0 auto;
    padding: 0;
}

.container-2 {
    max-width: 155rem;
    margin: 0 auto;
    padding: 0;
}

.container-3 {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0;
}

.container-4 {
    max-width: 170rem;
    margin: 0 auto;
    padding: 0;
}

.container-5 {
    max-width: 170rem;
    margin: 0 auto;
    padding: 0;
}


/*LayOut*/
.container__header {
    padding: 1.5rem 2rem;
}

.header {

}

.navigation {

}

.navigation__items {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.navigation__item {
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.15);
}

.navigation__link {
    text-decoration: none;
    width: 15rem;
    display: inline-block;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    text-align: center;
}

    .navigation__link:link, .navigation__link:visited {
        text-decoration: none;
        display: inline-block;
        font-size: 2rem;
        background-color: #FF5A09;
        transition: all 0.4s;
    }

    .navigation__link:hover, .navigation__link:active {
        color: white;
        background-color: #ec7f37;
    }

/*HelpDesk.cshtml*/
.HelpDesk__section {
}

.container__HelpDesk {
}

.HelpDesk__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.HelpDesk__box {
    background-color: white;
    width: 140rem;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.15);
    min-height: 50rem;
}


/*LayOut LoginPage*/


/*--------------------------------------------------------*/

/*LoginPage*/
.loginPage__section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(/img/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.loginPage {
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    border-radius: 6px;
    width: 40rem;
    height: 40rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.15);
    color: white;
    border: 2px solid white;
    backdrop-filter: blur(4px);
}

.loginPage__row {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
}

.loginPage__row:not(:last-child) {
    margin-bottom: 2rem;
}

.loginPage__input {
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    font-size: 1.6rem;
    width: 100%;
    display: inline-block;
    padding: 0 0.5rem;
    height: 3.5rem;
    background: transparent;
    color: white;
}

    .loginPage__input::placeholder {
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        color: white;
    }

.loginPage__Btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.loginPage__loginInBtn {
    text-decoration: none;
    padding: 1rem 1rem;
    color: white;
    background-color: orangered;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 0 0.75rem 1rem rgba(0,0,0,0.15);
    transition: all 0.4s;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.loginPage__loginInBtn:link, .loginPage__loginInBtn:visited {
    text-decoration: none;
    padding: 0.75rem 1rem;
    color: black;
    background-color: white;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.15);
    transition: all 0.4s;
}

    .loginPage__loginInBtn:hover, .loginPage__loginInBtn:active {
        background-color: #075985;
        color: white;
    }