/*///////////////////////////////////////////////////////////////////
//////////Variables */
:root {
    /*Colors*/
    --color-white: #fff;
    --color-black: #000;
    --color-bg-main: #2e2e2e;
    --color-bg-nav: #171717;
    --color--primary-dark: #b28451;
    --color--primary-light: #c69963;
    --color--grey-light-1: #faf9f9;
    --color--grey-light-2: #f4f2f2;
    --color--grey-light-3: #f0eeee;
    --color--grey-light-4: #ccc;
    --color--grey-light-5: #f9f7f6;
    --color--grey-light-6: #aaa;
    --color--grey-dark-1: #333;
    --color--grey-dark-2: #777;
    --color--grey-dark-3: #999;
    --color--grey-dark-4: #54483a;
    --color--grey-dark-5: #6d5d4b;
    --color--background-nav: #101d2c;
}
    /*///////////////////////////////////////////////////////////////////
//////////BASE */
    *, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: black;
    background-color: var(--color-bg-main);
    position: relative;
    min-height: 100vh;
}

.container-1 {
    max-width: 200rem;
    margin: 0 auto;
    padding: 0;
}

.container-2 {
    max-width: 155rem;
    margin: 0 auto;
    padding: 0;
}

.container-3 {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0;
}

.container-4 {
    max-width: 170rem;
    margin: 0 auto;
    padding: 0;
}

.container-5 {
    max-width: 170rem;
    margin: 0 auto;
    padding: 0;
}


/*LayOut*/
.Page {
    min-height: 100vh;
}

.container__header {
    padding: 1.5rem 2rem;
    background-color: var(--color-bg-nav);
}

.header {

}

.navigation {

}

.navigation__items {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.navigation__item {
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.15);
}

.navigation__link {
    text-decoration: none;
    width: 15rem;
    display: inline-block;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    text-align: center;
}

    .navigation__link:link, .navigation__link:visited {
        text-decoration: none;
        display: inline-block;
        font-size: 2rem;
        background-color: var(--color--primary-light);
        transition: all 0.4s;
    }

    .navigation__link:hover, .navigation__link:active {
        color: white;
        background-color: var(--color--primary-dark);
    }

/*HelpDesk.cshtml*/
.HelpDesk__section {
}

.container__HelpDesk {
    padding: 0;
}

.HelpDesk__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.HelpDesk__box {
    width: 100%;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.15);
    max-height: 85.9rem;
    min-height: 85.9rem;
    color: var(--color-white);
}

.HelpDesk__addBtnBox {
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
}

.HelpDesk__addBtn {
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
    padding: 0.75rem 1rem;
    width: 15rem;
    background-color: var(--color--primary-light);
    transition: all 0.4s;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.HelpDesk__addBtn:hover {
    color: white;
    background-color: var(--color--primary-dark);
}

.HelpDesk__table {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-top: 2rem;
    padding-bottom: 0.5rem;
}

    .HelpDesk__table::-webkit-scrollbar {
        height: 1rem;
    }

.HelpDesk__table::-webkit-scrollbar-track {
    border: 1px solid var(--color--primary-light);
    border-radius: 10px;
}

.HelpDesk__table::-webkit-scrollbar-thumb {
    background: var(--color--primary-light);
    border-radius: 10px;
}

.HelpDesk__table::-webkit-scrollbar-thumb:hover {
    background: var(--color--primary-dark);
}


.tableDiv {
    display: flex;
    gap: 1rem;
}

.table__column {
    display: flex;
    flex-direction: column;
    min-width: 45rem;
    max-width: 45rem;
    max-height: 73rem;
    min-height: 73rem;
    overflow-x: hidden;
    overflow-y: scroll;
    border-bottom: 1px solid var(--color--primary-light);
}

.table__column::-webkit-scrollbar {
    width: 1rem;
}

    .table__column::-webkit-scrollbar-track {
        border: 1px solid var(--color--primary-light);
        border-radius: 3px;
    }

    .table__column::-webkit-scrollbar-thumb {
        background: var(--color--primary-light);
        border-radius: 3px;
    }

.table__column::-webkit-scrollbar-thumb:hover {
    background: var(--color--primary-dark);
}

    .table__column:not(:last-child) {
        border-right: none;
        border-left: 1px solid var(--color--primary-light);
    }

    .table__column:first-child {
        border-left: 1px solid var(--color--primary-light);
    }

    .table__column:last-child {
        border-right: none;
        border-left: 1px solid var(--color--primary-light);
    }

.table__head {
    text-align: center;
    border-bottom: 1px solid var(--color--primary-light);
    border-top: 1px solid var(--color--primary-light);
}

.table__headText {
    font-size: 2.4rem;
    font-weight: 600;
}

.table__body {
}

.table__row {
    border-bottom: 1px solid var(--color--primary-light);
    border-top: 1px solid var(--color--primary-light);
    padding: 1.5rem;
}

.table__bodyRowNote {
    margin-bottom: 1rem;
}


.table__bodyRowTitle {
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
}

.table__bodyTitleSpan {
    font-size: 1.6rem;
    font-weight: 500;

    position: absolute;
    top: -17px;
    right: -15px;
}

.table__bodyTitle {
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.table__bodyTitle:hover, .table__bodyTitle:active {
    color: white;
}

.table__note {
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.table__dateBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase
}

.table__prioBtn {
    display: flex;
    background-color: var(--color--primary-light);
}

.prioBtn__numbers {
    display: flex;
}

.btnAccordion {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1.5rem;
}

.accordion-item {
    border: none;
}

.accordion-item:not(:last-child) {
    margin-bottom: 2rem;
}

.accordion-header {
    display: flex;
    position: relative;
}

.accordion-body {
    background-color: var(--color-bg-main);
}

.accordion-button {
    background-color: var(--color--primary-light);
    color: white;
    border: none;
    transition: all 0.4s;
}

.accordion-button:hover {
    background-color: var(--color--primary-dark);
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: var(--color--primary-dark);
    border: none;
}

.accordion-button:focus {
    border-color: var(--color--primary-light);
    box-shadow: none;
}

.numbers {
    display: flex;
    position: absolute;
    right: 5%;
    gap: 0.5rem
}
.number {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
    color: white;
}
/*LayOut LoginPage*/
/*---------------------*/
/*LoginPage*/
.loginPage__section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(/img/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.loginPage {
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    border-radius: 6px;
    width: 40rem;
    height: 40rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.15);
    color: white;
    border: 2px solid white;
    backdrop-filter: blur(4px);
}

.loginPage__row {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
}

.loginPage__row:not(:last-child) {
    margin-bottom: 2rem;
}

.loginPage__input {
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    font-size: 1.6rem;
    width: 100%;
    display: inline-block;
    padding: 0 0.5rem;
    height: 3.5rem;
    background: transparent;
    color: white;
}

loginPage__input:-webkit-autofill {
    border: none;
    background: transparent;
}

    .loginPage__input::placeholder {
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        color: white;
    }

.loginPage__Btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.loginPage__loginInBtn {
    text-decoration: none;
    padding: 0.75rem 1rem;
    color: black;
    background-color: white;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.15);
    transition: all 0.4s;
    width: 100%;
    border: none;
}


.loginPage__loginInBtn:link, .loginPage__loginInBtn:visited {
    text-decoration: none;
    padding: 0.75rem 1rem;
    color: black;
    background-color: white;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.15);
    transition: all 0.4s;
}

    .loginPage__loginInBtn:hover, .loginPage__loginInBtn:active {
        background-color: #1d4e6c;
        color: white;
    }




/*MODAL TICKET*/
.btn-primary:disabled {
    color: white;
    background-color: var(--color--primary-dark) !important;
    border: none;
    border-color: var(--color--primary-dark);
}

.ticket__header {
    font-size: 2rem;
    color: black;
}

.ticket__close {
    font-size: 1.6rem;
}

.ticket__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.8rem;
    color: black;
}

.modal-body--addTicket {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.ticket__row {
    display: inline-block;
    width: 100%;
}

.ticket__lable {
    width: 12rem;
}

.ticket__input {
    width: 100%;
    border: none;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 3px;
}

.ticket__select {
    width: 73.8%;
    text-align: center;
}

.ticket__select:hover {
    border: 1px solid black;
}


.ticket__textarea {
    max-width: 100%;
    min-width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    min-height: 20rem;
    max-height: 20rem;
}

.ticket__btn {
    font-size: 1.8rem;
    width: 11rem;
    border: none;
}

.ticket__btn--close {
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.15);
}

.ticket__btn--close:focus {
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.15);
}

.ticket__btn--add {
    background-color: var(--color--primary-light);
    color: white;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.15);
    transition: all 0.4s;
}

.ticket__btn--add:hover, .ticket__btn--add:active, .ticket__btn--add:focus {
    background-color: var(--color--primary-dark);
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.15);
}

.ticket__btn--delete {
    background-color: var(--color--primary-light);
    color: white;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.15);
    transition: all 0.4s;
}

.ticket__btn--delete:hover, .ticket__btn--delete:active, .ticket__btn--delete:focus {
    background-color: var(--color--primary-dark);
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.15);
}

.ticket__btn--edit {
    background-color: var(--color--primary-light);
    color: white;
    transition: all 0.4s;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.15);
}

.ticket__btn--edit:hover, .ticket__btn--edit:active, .ticket__btn--edit:focus  {
    background-color: var(--color--primary-dark);
    box-shadow: none;
}

.modal-footer__ticket {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal-footer__ticketBtns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.modal-body__ticketInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.ticketModal__row {
    color: black;
}

.ticketModal__row:not(:last-child) {
    margin-bottom: 0.5rem;
}

.ticketModal__title {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}

.ticketModal__opis {
    font-size: 1.4rem;
    line-height: 1.3;
}

.ticketModal__date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
}

.ticketModal__status {
    text-transform: uppercase;
}

/*Komenty*/
.modal-dialog {
    position: relative;
}

.modal {
    overflow: auto;
}

.comms {
    width: 40rem;
    min-height: 50rem;
    max-height: 50rem;
    background-color: var(--color-white);
    color: black;
    border-radius: 3px;
    padding: 1.5rem;
    overflow-y: scroll;
}

.comms::-webkit-scrollbar {
    width: 1rem;
}

.comms::-webkit-scrollbar-track {
    border: 1px solid var(--color--primary-light);
}

.comms::-webkit-scrollbar-thumb {
    background: var(--color--primary-light);
}

    .comms::-webkit-scrollbar-thumb:hover {
        background: var(--color--primary-dark);
    }

.comms__box {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.comment {
    border-bottom: 1px solid var(--color--primary-light);
}

.comment__row--title {
    text-align: center;
}

.comment__title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.comment__text {
    font-size: 1.4rem;
}

.comment__row--info {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 500;
}

.comment__row--btns {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.comment__btn {
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
    background: none;
    background-color: var(--color--primary-light);
    width: 12rem;
    display: inline-block;
    border: none;
    border-radius: 3px;
    color: white;
    transition: all 0.4s;
}

.comment__btn:hover {
    background-color: var(--color--primary-dark);
}

.comms__titleBox {
    text-align: center;
    background-color: var(--color--primary-light);
    padding: 0.5rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.comms__title {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}


.number--nowe {
    background-color: #22c55e;
}

.number--rozpatrywane {
    background-color: #fb923c;
}

.number--wstrzymane {
    background-color: #fde047;
}

.number--zakonczone {
    background-color: #ef4444;
}

.accordion-button::after {
    display: none;
}

/*EDIT ----------------------------------*/
.ticket__formEdit {
    width: 100%;
    height: calc(100vh - 72px);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.8rem;
}

.modal-body--editTicket {
    width: 60rem;
    background-color: #171717;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2); 
    color: white;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.ticket__selectEdit {
    width: 77.6%;
    text-align: center;
}

.modal-footer--edit {
    border-top: none;
    padding: 0;
    margin-top: 0.5rem;
}

/*Dodanie ticketa na main stronie*/

.ticket__addTicketForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin-top: 1rem
}

.modal-body--addTicketMain {
    width: 60rem;
    background-color: #fff;
    padding: 1rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}




/*Zarz¹dzanie*/
/*Zarz¹dzanie*/

.HelpDesk__section {
}

.container__menag {
    padding: 0;
}

.Menag__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Menag__box {
    width: 100%;
    padding: 2rem 0;
    color: var(--color-white);
}

.Menag__addBtnBox {
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
    padding: 0 2rem;
}

.Menag__addBtn {
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
    padding: 0.75rem 1rem;
    width: 15rem;
    background-color: var(--color--primary-light);
    transition: all 0.4s;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

    .Menag__addBtn:hover {
        color: white;
        background-color: var(--color--primary-dark);
    }

.Menag__accountsBox {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 73rem;
    min-height: 73rem;
}

.Menag__accounts {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Menag__headers {
    width: 100%;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    background-color: var(--color--primary-light);
}

.Menag__header {
    display: inline-block;
}

.Menag__header--accBox {
    max-width: 30rem;
    width: 100%;
    min-width: 10rem;
    font-size: 1.8rem;
}

.Menag__header--iloscBox {
    max-width: 20rem;
    width: 100%;
    min-width: 10rem;
    font-size: 1.8rem;
    text-align: center;
}

.Menag__detail--apli {
    max-width: 20rem;
    width: 100%;
    min-width: 10rem;
    font-size: 1.8rem;
    text-align: center;
}

.Menag__accountRow {
    display: flex;
    padding: 0.75rem 1rem;
}

    .Menag__accountRow:not(:last-child) {
        border-bottom: 2px solid var(--color--primary-light);
    }

.Menag__detail {
    display: inline-block;
}

.Menag__details--infoText {
    display: inline-block;
}

.Menag__detail--userName {
    min-width: 10rem;
    max-width: 30rem;
    width: 100%;
    font-size: 1.8rem;
}

.Menag__detail--btns {
    margin-left: auto;
}

.Menag__rows {
    display: flex;
    flex-direction: column;
}