@{
    Layout = "_Layout";
}

<section class="Menag__section">
    <div class="container-fluid container__menag">
        <div class="Menag__content">
            <div class="Menag__box">
                <div class="Menag__addBtnBox">
                    <a class="Menag__addBtn">Dodaj</a>
                </div>

                <div class="Menag__accountsBox">
                    <div class="Menag__accounts">
                        <div class="Menag__headers">
                            <div class="Menag__header Menag__header--accBox">
                                <span class="Menag__header--acc">Nazwa konta</span>
                            </div>

                            <div class="Menag__header Menag__header--iloscBox">
                                <span class="Menag__header--ilosc">Ilość aplikacji</span>
                            </div>
                        </div>


                        <div class="Menag__rows">
                            <div class="Menag__accountRow">
                                <div class="Menag__detail Menag__detail--userName">
                                    <span class="Menag__userName">Jakub Stegienko</span>
                                </div>
                                <div class="Menag__detail Menag__detail--apli">
                                    <span class="Menag__apli">2</span>
                                </div>
                                <div class="Menag__detail--btns">
                                    <a class="Menag__addBtn">Aplikacje</a>
                                    <a class="Menag__addBtn">Edytuj</a>
                                    <a class="Menag__addBtn">Usuń</a>
                                </div>
                            </div>

                            <div class="Menag__accountRow">
                                <div class="Menag__detail Menag__detail--userName">
                                    <span class="Menag__userName">Jakub Stegienko</span>
                                </div>
                                <div class="Menag__detail Menag__detail--apli">
                                    <span class="Menag__apli">2</span>
                                </div>
                                <div class="Menag__detail--btns">
                                    <a class="Menag__addBtn">Aplikacje</a>
                                    <a class="Menag__addBtn">Edytuj</a>
                                    <a class="Menag__addBtn">Usuń</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>