@model MenagmentViewModel

@{
    Layout = "_Layout";
}

<section class="Menag__section">
    <div class="container-fluid container__menag">
        <div class="Menag__content">
            <div class="Menag__box">
                @Html.Hidden("AccountID", Model.AccountID)
                <div class="modal fade" id="Autoryzuj" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title scan__header">Link</h1>
                                <button type="button" class="btn-close ticket__close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="autoryzuj__row">
                                    <p class="autoryzuj__link"></p>
                                </div>

                                <div class="autoryzuj__row">
                                    <input type="hidden" id="accountNameInput" />
                                </div>

                                <div class="modal-footer autoryzuj__modal-footer">
                                    <div class="autoryzuj__box">
                                        <button type="button" class="btn btn-primary autoryzuj__btn">Sprawdź</button>
                                        <button type="button" class="btn btn-primary autoryzuj__btn copybtn">Kopiuj link</button>
                                    </div>

                                    <button type="button" class="btn btn-secondary ticket__btn ticket__btn--close" data-bs-dismiss="modal">Zamknij</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Menag__accountsBox">
                    <div class="Menag__accounts">
                        <div class="Menag__headers">
                            <div class="Menag__header Menag__header--accBox">
                                <span class="Menag__header--acc">Nazwa konta</span>
                            </div>

                            <div class="Menag__header Menag__header--iloscBox">
                                <span class="Menag__header--ilosc">Ilość aplikacji</span>
                            </div>

                            <div class="Menag__header Menag__header--iloscBox">
                                <span class="Menag__header--ilosc">Ilość aplikacji</span>
                            </div>

                            <div class="Menag__header Menag__header--space">&nbsp;</div>
                        </div>

                        @{
                            foreach (var account in Model.PlatformAccountsWithAuthorizationStatus)
                            {
                                    <div class="Menag__rows">
                                        <div class="Menag__accountRow">
                                            <div class="Menag__detail Menag__detail--userName">
                                                <span class="Menag__userName">@account.Key.AccountName</span>
                                            </div>
                                            <div class="Menag__detail Menag__detail--apli">
                                                <span class="Menag__apli">0</span>
                                            </div>
                                            <div class="Menag__detail Menag__detail--apli">
                                                <span class="Menag__apli">0</span>
                                            </div>
                                            <div class="Menag__detail--btns">
                                                <a class="Menag__addBtn">Aplikacje</a>

                                            @if (!account.Value)
                                            {
                                                <a class="Menag__addBtn" >Autoryzuj</a>
                                            }
                                                <a class="Menag__addBtn">Usuń</a>
                                            </div>
                                        </div>
                                    </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        'use strict';

        const copyBtn = document.querySelector('.copybtn');
        const copyText = document.querySelector('.autoryzuj__link')

        copyBtn.addEventListener('click', function () {
            navigator.clipboard.writeText(copyText.innerHTML);
        })

        $(document).ready(function () {
            $('.Menag__addBtn').on('click', function () {
                var accountName = $('.Menag__userName').text();
                var accountID = $('#AccountID').val();

                $('#accountNameInput').val(accountName);

                $.ajax({
                    url: '/Menagment/GetVerificationUrl',  // Podmień to na odpowiedni adres URL
                    method: 'GET',
                    data: {
                        AccountID: accountID,
                        PlatformaccountName: accountName
                    },
                    success: function (response) {
                        $('.autoryzuj__link').text(response.url);
                    },
                    error: function (error) {
                        console.error('Wystąpił błąd w trakcie żądania AJAX:', error);
                    }
                });

                // Pobierz modal o ID "Autoryzuj" i pokaż go
                $('#Autoryzuj').modal('show');
            });

            $('.autoryzuj__btn').on('click', function () {
                // Pobierz potrzebne dane
                var accountName = $('.Menag__userName').text();
                var accountID = $('#AccountID').val();

                // Wyślij żądanie AJAX do metody VerifyAccount
                $.ajax({
                    url: '/Menagment/VerifyAccount',
                    method: 'GET',
                    data: {
                        AccountID: accountID,
                        PlatformaccountName: accountName
                    },
                    success: function (response) {
                        // Obsłuż odpowiedź
                        console.log(response.isVerified);
                        if (response.isVerified) {
                            alert('Konto zweryfikowane!');
                        }
                    },
                    error: function (error) {
                        console.error('Wystąpił błąd w trakcie żądania AJAX:', error);
                    }
                });
            });
        });

    </script>
}