@{
    Layout = "_Layout";
}

<section class="HelpDesk__section">
    <div class="container-fluid container__HelpDesk">
        <div class="HelpDesk__content">
            <div class="HelpDesk__box">
                <div class="HelpDesk__addBtnBox">
                    <a class="HelpDesk__addBtn">Dodaj</a>
                </div>
                <div oncancel="HelpDesk__table">
                    fsdfsd
                </div>
            </div>
        </div>
    </div>
</section>

@{
}