@{
    Layout = "_Layout";
}

<section class="HelpDesk__section">
    <div class="container-fluid container__HelpDesk">
        <div class="HelpDesk__content">
            <div class="HelpDesk__box">
                <div class="HelpDesk__addBtnBox">
                    <a class="HelpDesk__addBtn" data-bs-toggle="modal" data-bs-target="#Dodawanie">Dodaj</a>
                </div>

                <div class="modal fade" id="Dodawanie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="HelpDesk__table">
                    <div class="tableDiv">
                        <div class="table__column">
                            <div class="table__head">
                                <span class="table__headText">Zamówienia</span>
                            </div>
                            <div class="table__row">
                                <div class="table__body">
                                    <div class="table__bodyRow table__bodyRowTitle">
                                        <span class="table__bodyTitle">Jakiś tytuł</span>
                                    </div>
                                    <div class="table__bodyRow table__bodyRowNote">
                                        <span class="table__note">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </span>
                                    </div>
                                    <div class="table__bodyRow">
                                        <div class="table__dateBox">
                                            <span class="table__date">24-05-2024</span>
                                            <span class="table__check">Zrobione</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table__row">
                                <div class="table__body">
                                    <div class="table__bodyRow table__bodyRowTitle">
                                        <span class="table__bodyTitle">Jakiś tytuł</span>
                                    </div>
                                    <div class="table__bodyRow table__bodyRowNote">
                                        <span class="table__note">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </span>
                                    </div>
                                    <div class="table__bodyRow">
                                        <div class="table__dateBox">
                                            <span class="table__date">24-05-2024</span>
                                            <span class="table__check">Zrobione</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table__row">
                                <div class="table__body">
                                    <div class="table__bodyRow table__bodyRowTitle">
                                        <span class="table__bodyTitle">Jakiś tytuł</span>
                                    </div>
                                    <div class="table__bodyRow table__bodyRowNote">
                                        <span class="table__note">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </span>
                                    </div>
                                    <div class="table__bodyRow">
                                        <div class="table__dateBox">
                                            <span class="table__date">24-05-2024</span>
                                            <span class="table__check">Zrobione</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="table__column">
                            <div class="table__head">
                                <span class="table__headText">Zamówienia</span>
                            </div>
                            <div class="table__row">
                                <div class="table__body">
                                    <div class="table__bodyRow table__bodyRowTitle">
                                        <span class="table__bodyTitle">Jakiś tytuł</span>
                                    </div>
                                    <div class="table__bodyRow table__bodyRowNote">
                                        <span class="table__note">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </span>
                                    </div>
                                    <div class="table__bodyRow">
                                        <div class="table__dateBox">
                                            <span class="table__date">24-05-2024</span>
                                            <span class="table__check">Zrobione</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table__column">
                            <div class="table__head">
                                <span class="table__headText">Zamówienia</span>
                            </div>
                            <div class="table__row">
                                <div class="table__body">
                                    <div class="table__bodyRow table__bodyRowTitle">
                                        <span class="table__bodyTitle">Jakiś tytuł</span>
                                    </div>
                                    <div class="table__bodyRow table__bodyRowNote">
                                        <span class="table__note">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </span>
                                    </div>
                                    <div class="table__bodyRow">
                                        <div class="table__dateBox">
                                            <span class="table__date">24-05-2024</span>
                                            <span class="table__check">Zrobione</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table__column">
                            <div class="table__head">
                                <span class="table__headText">Zamówienia</span>
                            </div>
                            <div class="table__row">
                                <div class="table__body">
                                    <div class="table__bodyRow table__bodyRowTitle">
                                        <span class="table__bodyTitle">Jakiś tytuł</span>
                                    </div>
                                    <div class="table__bodyRow table__bodyRowNote">
                                        <span class="table__note">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </span>
                                    </div>
                                    <div class="table__bodyRow">
                                        <div class="table__dateBox">
                                            <span class="table__date">24-05-2024</span>
                                            <span class="table__check">Zrobione</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table__column">
                            <div class="table__head">
                                <span class="table__headText">Zamówienia</span>
                            </div>
                            <div class="table__row">
                                <div class="table__body">
                                    <div class="table__bodyRow table__bodyRowTitle">
                                        <span class="table__bodyTitle">Jakiś tytuł</span>
                                    </div>
                                    <div class="table__bodyRow table__bodyRowNote">
                                        <span class="table__note">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </span>
                                    </div>
                                    <div class="table__bodyRow">
                                        <div class="table__dateBox">
                                            <span class="table__date">24-05-2024</span>
                                            <span class="table__check">Zrobione</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@{
}

