@model HelpDesk_Menagment_Twilo.Models.WareHouse.WareHouseViewModel

@{
    Layout = "_Layout";
}

<div class="magazine__btns">
<a class="magazine__button" href="#">Dodaj do magazynu</a>
<a class="magazine__button" href="#">Usuń do magazynu</a>
</div>

<div class="magazine__head">
    <h1 class="magazine__heading">Dostępne artykuły</h1>
</div>

<div class="magazine__container">

    <div class="magazine__product">
        <img class="magazine__image" src="https://cdn.discordapp.com/attachments/910627332618866709/1210213947383488602/32ee246047e9b5935d2a3c672e75.jfif?ex=65e9be91&is=65d74991&hm=fbc635b8dbae9dabf3fd0a169b5905e7846c92288ee68f050809c3853af2ba9b&" />
        <div class="magazine__content">
            <p class="magazine__title">Nic mnie nie złamie. Zapanuj nad swoim umysłem..</p>
            <p class="magazine__howmany">Ilość: <span class="magazine__count">4</span></p>
        </div>
    </div>

    <div class="magazine__product">
        <img class="magazine__image" src="https://cdn.discordapp.com/attachments/910627332618866709/1210213947383488602/32ee246047e9b5935d2a3c672e75.jfif?ex=65e9be91&is=65d74991&hm=fbc635b8dbae9dabf3fd0a169b5905e7846c92288ee68f050809c3853af2ba9b&" />
        <div class="magazine__content">
            <p class="magazine__title">Tytuł przykładowej książki</p>
            <p class="magazine__howmany">Ilość: <span class="magazine__count">4</span></p>
        </div>
    </div>

    <div class="magazine__product">
        <img class="magazine__image" src="https://cdn.discordapp.com/attachments/910627332618866709/1210213947383488602/32ee246047e9b5935d2a3c672e75.jfif?ex=65e9be91&is=65d74991&hm=fbc635b8dbae9dabf3fd0a169b5905e7846c92288ee68f050809c3853af2ba9b&" />
        <div class="magazine__content">
            <p class="magazine__title">Tytuł przykładowej książki</p>
            <p class="magazine__howmany">Ilość: <span class="magazine__count">4</span></p>
        </div>
    </div>

    <div class="magazine__product">
        <img class="magazine__image" src="https://staticl.poczytaj.pl/155000/planeta-google-randall-stross,155065-s.jpg" />
        <div class="magazine__content">
            <p class="magazine__title">Tytuł przykładowej książki</p>
            <p class="magazine__howmany">Ilość: <span class="magazine__count">4</span></p>
        </div>
    </div>

    <div class="magazine__product">
        <img class="magazine__image" src="https://staticl.poczytaj.pl/155000/planeta-google-randall-stross,155065-s.jpg" />
        <div class="magazine__content">
            <p class="magazine__title">Tytuł przykładowej książki</p>
            <p class="magazine__howmany">Ilość: <span class="magazine__count">4</span></p>
        </div>
    </div>

    <div class="magazine__product">
        <img class="magazine__image" src="https://staticl.poczytaj.pl/155000/planeta-google-randall-stross,155065-s.jpg" />
        <div class="magazine__content">
            <p class="magazine__title">Tytuł przykładowej książki</p>
            <p class="magazine__howmany">Ilość: <span class="magazine__count">4</span></p>
        </div>
    </div>

    <div class="magazine__product">
        <img class="magazine__image" src="https://staticl.poczytaj.pl/155000/planeta-google-randall-stross,155065-s.jpg" />
        <div class="magazine__content">
            <p class="magazine__title">Tytuł przykładowej książki</p>
            <p class="magazine__howmany">Ilość: <span class="magazine__count">4</span></p>
        </div>
    </div>

    <div class="magazine__product">
        <img class="magazine__image" src="https://staticl.poczytaj.pl/155000/planeta-google-randall-stross,155065-s.jpg" />
        <div class="magazine__content">
            <p class="magazine__title">Tytuł przykładowej książki</p>
            <p class="magazine__howmany">Ilość: <span class="magazine__count">4</span></p>
        </div>
    </div>

    <div class="magazine__product">
        <img class="magazine__image" src="https://staticl.poczytaj.pl/155000/planeta-google-randall-stross,155065-s.jpg" />
        <div class="magazine__content">
            <p class="magazine__title">Tytuł przykładowej książki</p>
            <p class="magazine__howmany">Ilość: <span class="magazine__count">4</span></p>
        </div>
    </div>

    <div class="magazine__product">
        <img class="magazine__image" src="https://staticl.poczytaj.pl/155000/planeta-google-randall-stross,155065-s.jpg" />
        <div class="magazine__content">
            <p class="magazine__title">Tytuł przykładowej książki</p>
            <p class="magazine__howmany">Ilość: <span class="magazine__count">4</span></p>
        </div>
    </div>

    <div class="magazine__product">
        <img class="magazine__image" src="https://staticl.poczytaj.pl/155000/planeta-google-randall-stross,155065-s.jpg" />
        <div class="magazine__content">
            <p class="magazine__title">Tytuł przykładowej książki</p>
            <p class="magazine__howmany">Ilość: <span class="magazine__count">4</span></p>
        </div>
    </div>


</div>
